body {
    font-family:Arial, Helvetica, sans-serif
}

header {
    background-color: #e2a3e9;
    color: #0a0303;
    padding: 1rem 0;
    text-align: center;
}
h1 {
 color: #0a0303;
 font-size: 25px;
}
nav a {
    color: #f3ffff;
    font-size: 15px;
    margin: 0 1rem;
    text-decoration: none;
}  
  .thumb-bar img {
    display: block;
    width: 20%;
    float: left;
    cursor: pointer;
  }